body {
	font-family: sans-serif;	
}

#content {
	margin-left: 20%;
}

#sidebar {
	width: 20%;
	float: left;
}

h1 {
	text-align: center;
}

p { 
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

th {
	background: #000088;
	color: white;
	padding: 0.5em;
}

td {
	background: #DDDDDD;
	color: black;
	padding: 0.5em;
}