<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
	<link rel="stylesheet" type="text/css" href={% static 'courses/style.css' %}>
    <title>Courses Database</title>
</head>

<body>
    <div id="sidebar">
    	{% block sidebar %}
        <ul>
            <li><a href="{% url 'courses' %}">Courses</a></li>
            <li><a href="{% url 'diary' %}">Course Diary</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
	    {% block content %}{% endblock %}
    </div>
</body>
</html>