{% extends 'courses/base.html' %}

{% block content %}
<h1>{{ course.title }}</h1>

<p>
{{ course.description }}
</p>

<h2>Learning Objectives</h2>
<ul>
{% for objective in course.learningobjective_set.all %}
	<li>{{ objective.objective_text }}</li>
{% endfor %}
</ul>

<h2>Dates</h2>
<table>
	<tr>
		<th>Course Title</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Site</th>
		<th>Location</th>
	</tr>
	<!-- This is broken - need to figure out how to only show future dates -->
		{% for instance in course.courseinstance_set.all %}
				<td>{{ instance.course.title }}</td>
				<td>{{ instance.start_datetime }}</td>
				<td>{{ instance.end_datetime }}</td>
				<td>{{ instance.site }}</td>
				<td>{{ instance.location }}</td>
			</tr>
		{% endfor %}
</table>



{% endblock %}