{% extends 'courses/base.html' %}

{% block content %}
<table>
	<tr>
		<th>Course Title</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Site</th>
		<th>Location</th>
	</tr>
	{% if instances %}
		{% for instance in instances %}
			<tr>
				<td>{{ instance.course.title }}</td>
				<td>{{ instance.start_datetime }}</td>
				<td>{{ instance.end_datetime }}</td>
				<td>{{ instance.site }}</td>
				<td>{{ instance.location }}</td>
			</tr>
		{% endfor %}
	{% else %}
	<tr>
		<td colspan="5">No course dates currently available</td>
	</tr>
	{% endif %}
</table>
{% endblock %}